<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Página Inicial</title>
</head>

<body>
    <div class="main">
        <p>Podemos te ajudar a encontrar um novo amigo e um lar para um animal carente.</p>
        <img src="/images/logo.png" alt="logo coração">
    </div>

    <div class="linksContainer">
        <a href="/pontosdeadocao">Pontos de adoção</a>
        <a href="/cadastro">Cadastrar Pontos</a>
    </div>
</body>

</html>